<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Shark DNS RESOLVER!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      id="favicon"
      rel="icon"
      href="https://fire-engine-icons.github.io/shbyte-logopublishers/sharkbytelogo.ico"
      type="image/x-icon"
    />
    <script type="text/javascript" src="/reloader.js/reloader.js"></script>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>DNS Resolver</h1>
      <p>
        <a href="/api?name=example.com"
          ><button type="button">
            Try Api
          </button></a
        >

        <a href="https://bit.ly/BlogShark2"
          ><button type="button">
            Blog
          </button></a
        >

        <a href="https://github.com/Sharkbyteprojects/DNS-Resolver/"
          ><button type="button">
            Code
          </button>
        </a>
      </p>
    </header>

    <main>
      <form action="dns" method="GET">
        <label>
          Domainname:
          <input
            name="name"
            type="text"
            maxlength="100"
            required
            placeholder="example.com"
          />
        </label>
        <button type="submit">Get</button>
      </form>
    </main>
  </body>
</html>
